# Laravel
/vendor
/storage/*.key
/storage/pail
/bootstrap/cache/*.php
.phpunit.result.cache
.phpunit.cache
_ide_helper.php
_ide_helper_models.php
.phpactor.json
Homestead.json
Homestead.yaml
auth.json

# Environment
.env
.env.backup
.env.production
.env.*.local

# Node / Frontend
/node_modules
/public/build
/public/hot
/public/fonts-manifest.dev.json
npm-debug.log*
yarn-error.log*

# Database
/database/*.sqlite
/database/*.sqlite-journal

# Editor / IDE
/.idea
/.vscode
/.nova
/.zed
/.codex
/.cursor/
*.swp

# OS
.DS_Store
Thumbs.db

*.zip

# Logs
*.log
/storage/logs/*.log